<div class="columns pl-2">
  <!-- Left side - Image -->
  <div class="column is-half is-flex is-align-items-center">
    <figure class="image">
      <img src="/images/Travelbook-Main.png" alt="Travel Image">
    </figure>
  </div>

  <!-- Right side - Content -->
  <div class="column is-half">
    {{#each projects as |project| }}
    <div class="box has-background-dark has-text-white mb-4">
      <h2 class="title has-text-primary">
        {{{get_emoji}}}
        <a href="/project/{{project.id}}" class="has-text-primary">{{project.name}}</a>
      </h2>
      <p>
        <span for="img" aria-label="money">💲</span>
        <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
        needed!
      </p>
      <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
      <p class="mt-3">
        {{project.description}}
      </p>
    </div>
    {{/each}}
  </div>
</div>
